
footer {
  text-align: center;
  color: #8f8f8f;
  padding-bottom: 18px;
  font-size: 12px;
}

footer a {
  color: rgb(41, 132, 181);
}

.label-alarm {
  background-color: #3b5998;
}

.label-purple {
  background-color: #9b59b6;
}

.label-tumblr {
  background-color: #3b5998;
}

.label-twitter {
  background-color: #2ba9e1;
}

