/*
Changes to bootstrap.min
 - font-size:1rem => font-size:1.25rem
 - badge font-size:75% => font-size:90%
*/

footer {
  text-align: center;
  color: #8f8f8f;
  padding-bottom: 18px;
  font-size: 12px;
}

footer a {
  color: rgb(41, 132, 181);
}

.badge-alarm {
  background-color: #3b5998;
}

.badge-purple {
  background-color: #9b59b6;
}

.badge-tumblr {
  background-color: #3b5998;
}

.badge-twitter {
  background-color: #2ba9e1;
}

