<div id="footer" class="panel panel-footer">
  <!--<p align="center">&copy; 2019-2022 Dr. Tsung-Wei Huang, <a href="https://www.ece.utah.edu/">Department of ECE</a> @ <a href="https://utah.edu">University of Utah</a></p>-->
  <div class="row">
		<div class="col-sm-6">
		<p align="center">&copy; 2019-2025 Dr. Tsung-Wei Huang</p>
    <p align="center"><a href="https://engineering.wisc.edu/departments/electrical-computer-engineering/">Department of Electrical and Computer Engineering</a></p>
    <p align="center"><a href="https://www.wisc.edu/">University of Wisconsin at Madison, Madison, WI</a></p>
		</div>
		<div class="col-sm-6">
    <p align ="center">Contact: tsung-wei.huang at wisc dot edu</p>
    <p align ="center">1415 Engineering Dr, Madison, WI 53706</p>
    <p align ="center">(<a href="https://map.wisc.edu/s/zhs4mefy">Campus Maps</a>)
		</div>
	</div>
</div>

